@import url("./resset.css");
@import url(https://fonts.googleapis.com/css?family=Inter:300,500,700,&display);


body{
    background: #E5E5E5;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	color: #212B36;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}

[class*="__container"] {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}


.header-logo{
    margin-right: 45px;
    display: inline-block;
    vertical-align: middle;
}

.header-items > * {
    display: inline-block;
    vertical-align: middle;
}

.header-item {
    position: relative;
    display: inline-block;
}

.header-menu{           
    margin-right: 143px;
}
.icon{
    margin-right: 28px;
}


.menu-link{
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 2px;
}

.menu-link--individual{
    content: "";
    background: url("../img/Vector.svg") 150px 8px no-repeat;
    position: relative;
    width: 172px;
    height: 52px;
    text-align: center;
    background-position: 0 5;
    border-radius: 5px;
    display: inline-block;    
}

.menu-item {
    position: relative;
    display: inline-block;
}

.sub-menu li:hover{
    color: #3056D3;
}

.sub-menu li{
    color: #637381;
}

.menu-item:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.menu-item:not(:last-child){
    margin-right: 20px;
}

.menu__sub-menu {   
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background: #ffffff;
    padding: 15px;
    min-width: 180px;
    max-height: 308px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s;
}

.sub-menu {

}

.sub-menu__item {

}

.sub-menu__item:not(:last-child){
    margin-bottom: 30px;
}



.sub-menu__link {
  
}
.sub-menu__item--special{
    padding-right: 0px;
    margin-bottom: 30px;

}
.sub-menu__item:hover .sub-nav-menu{
    display: block;
    opacity: 1;
}




.sub-nav-menu {
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 101%;
    padding: 15px;
    background: #ffffff; 
    z-index: 2;
    min-width: 652px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s; 
}


.sub-nav-menu__item {
    display: inline-block;
    margin-right: 97px;
}
.list-sub-menu__item:not(:last-child){
    margin-bottom: 30px;
}
.sub-nav-menu__list{
    display: inline-block;
}

.sub-nav-menu--link {
    display: inline-block;
}

.sub-nav-menu--link:hover{
    color: #3056D3;
}

.sub-nav-menu--title {
    color: #212B36;
    
}

.sub-nav-menu__item{
    display: inline-block;
}

.sub-nav-item:not(:last-child){
    margin-bottom: 30px;
}

.sub-nav-menu--titel{
    color: #212B36;
}
.img{
    color: #CD835A;
    display: inline-block;
}
