@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


body{
    margin: 0 auto;
}


header{
    font-family: "Poppins";
}

.start{
    width: 400px;
    height: 80px;
    margin-left: 312px;
    margin-top: 115px;
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    word-wrap: break-word;
}
.main_container{
    max-width: 816px;
    height: 450px;
    color: #6C757D;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    line-height: 25px;
}
.text{
    font-weight: 300;
    font-size: 14px;

}
.text_2{
    font-weight: 300;
    font-size: 14;

}

.text_3{
    font-weight: 300;
    font-size: 14;
}

.img_container{
    margin-bottom: 80px;
}


.image{
    width: 1240px;
    height: 400px;
    margin: 0 auto;
}

main{
    font-family: "Poppins";

}
.medium{
    width: 605px;
    height: 120px;
    font-weight: 700;
    font-size: 25;
    line-height: 40px;
    margin-left: 312px;
    margin-top: 80px;
}
.second_container{
    max-width: 816px;
    height: 450px;
    color: #6C757D;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    line-height: 25px;
}
.text_4{
    font-weight: 300;
    font-size: 14;
}
.text_5{
    font-weight: 300;
    font-size: 14; 
}

.img_icon{
    text-align: center;
    max-width: 100%;
    font-size: 0;
    margin-bottom: 80px;    
}


.boat {
    display: inline-block;
    width: 605px;
    height: 400px;
    margin-right: 30px;
}
.lake {
    display: inline-block;
    width: 605px;
    height: 400px;
}
.third_container{
    max-width: 816px;
    color: #6C757D;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    line-height: 25px;
}
.text_6{
    font-weight: 300;
    font-size: 14;
}